.Wrapper {
    position: relative;
max-width: 944px;
border: 1px solid #7BF762;
box-sizing: border-box;
border-radius: 8px;
margin: 0 auto;
padding-top: 40px;
padding-bottom: 41px;

}

.button {
width: 160px;
/* height: 112px; */
box-sizing: border-box;
display:flex;
flex-direction: column;
align-items: center;
letter-spacing: 0.1em;
color: #5A8F4F;
background: transparent;
line-height: 10px;
border: 1px solid #5A8F4F;
border-radius: 8px;
padding-top: 16px;
padding-bottom: 20px;
margin-right: 32px;
font-family: Roboto Mono;
font-size: 12px;
}

.powerButton {
   width: 160px;
/* height: 112px; */
box-sizing: border-box;
display:flex;
flex-direction: column;
align-items: center;
letter-spacing: 0.1em;
color: #5A8F4F;
background: transparent;
line-height: 10px;
border: 1px solid #5A8F4F;
border-radius: 8px;
padding-top: 16px;
margin-right: 32px;
font-family: Roboto Mono;
font-size: 12px;
}

.button:hover,
.powerButton:hover,
.packageButton:hover,
.is-active {
  color: #7BF762;
  border-color: #7BF762;
  filter: drop-shadow(0px 0px 10px #7BF762);
  cursor: pointer;
}
.packageButton {
   width: 160px;
/* height: 112px; */
box-sizing: border-box;
display:flex;
flex-direction: column;
align-items: center;
letter-spacing: 0.1em;
color: #5A8F4F;
background: transparent;
line-height: 10px;
border: 1px solid #5A8F4F;
border-radius: 8px;
padding: 0;
padding-top: 16px;
margin-right: 32px;
font-family: Roboto Mono;
font-size: 12px;
}



